doctype html
html
  head
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    title= title
    link(rel='stylesheet', href='/stylesheets/styleHome.css')
  body
    block content
        nav.navbar.navbar-icon-top.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='#') Navbar
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/home')
                            i.fa.fa-home
                            |           Home
                form.box1(action='/home', method="post")
                    input(type='submit', value="LOGOUT")
        form(action="/home/food", method="post")
            h1 This is where you add food 
            input(type='text', name='foodname', placeholder='foodname')
            br
            br
            input(type='text', name='kilocalories', placeholder='kilocalories')
            br
            br
            input(type='text', name='proteins', placeholder='proteins')
            br
            br
            input(type='text', name='lipid', placeholder='lipid')
            br
            br
            input(type='text', name='carbohydrates', placeholder='carbohydrates')
            br
            br
            input(type='text', name='water', placeholder='water')
            br
            br
            input(type='submit', value="Add food")
        