extends layout 

block content
    .container
    .row
        .col-md-6
        .card
        form#useform2.box(action="/" method="post")
            h1 
                strong Login 
            p.text-muted  
                strong Please enter your username and password!
            input(type='text', name='l_username', placeholder='Username', form="useform2")
            input(type='password', name='l_password', placeholder='Password', form="useform2")
            a(href="/register") You don't have an account?
            input(type='submit' value='Login' form="useform2")
    br
    br
    br
    div(style='position: absolute; bottom: 5px;')
        a(href="mailto:maryano1096@gmail.com") For any inconveniences press here to write a complaint