extends layout

block content
  .container
  .row
    .col-md-6
      .card
      form#useform.box(action="/register" method="post")
        h1 Register
        p.text-muted  Please enter your Username and password!
        input(type='text', name='username', placeholder='Username', form="useform")
        input(type='password', name='password', placeholder='Password', form="useform")
        a(href="/") You already have an account?
        input(type='submit' value='Register' form="useform")
        br
        br
        br
  a(href="mailto:maryano1096@gmail.com") For any inconveniences press here to write a complaint
    
