body {
  font-family: sans-serif;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(244,244,244,1) 7%);
}


.navbar-icon-top .navbar-nav .nav-link > .fa {
  color: rgb(245, 245, 245);
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  color: white;
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}
.navbar-icon-top .navbar-nav .nav-link > .fa {
  color: white;
  top: 3px;
  line-height: 12px;
}

hr {
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0a0a0a;
  color: rgb(12, 9, 9);
  margin-left: 123px;
 }

.dropbtn {
  background-color: #ffffff;
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

h1 {
  font-family: 'Roboto Slab', serif;
  margin-left:123px;
  color: #000000; 
  margin-top: 1px;
}

h2 {
  font-family: 'Roboto Slab', serif;
	color: rgb(0, 0, 0);
}

h3 {
  font-family: 'Roboto Slab', serif;
	color: rgb(0, 0, 0);
}

h4 {
  font-family: 'Roboto Slab', serif;
  margin-left:123px;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.4em;
  color: #000000;
  font-weight: bold;
}

h5 {
  font-family: 'Roboto Slab', serif;
  margin-left:123px;
  font-weight: bold;
  font-size: 38px;
  color: #020202;
  margin-bottom:20px;
  margin-top: 20px;
 }

 h6 {
  color: #000;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin-left:123px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin-right: 490px;
  max-width: 620px;
  margin-bottom: 20px;
 }

 img {
   margin-left:123px;
 }

.box1 {
  position:relative;
  top: 1px;
  left: 62%;
}

li {
  color: #ebebeb;
  list-style-type: none;
}

.logout {
  color: #ffffff;
  background: rgb(0, 0, 0);
  border-radius: 5px;
}
p {
  margin-left: 123px;
  font-size: 29px;
  margin-top: 20px;
  margin-bottom: 15px;
}

ol {
  list-style-type: square;
}

li.ch {
  margin-left: 123px;
  color: #000;
  list-style-type:square;
  max-width: 620px;
  font-size: 20px;
}

p.desc {
  margin-left: 99px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.videodiv {
  margin-left: 123px;
}

.dropdown {
  margin-left: 123px;
}
.btn.btn-secondary.dropdown-toggle {
  color:white;
  background-color: #000;
}