body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://wallpaperaccess.com/full/1567736.png);
}

.card {
  display: flex;
  margin-bottom: 20px;
  border:rgb(205, 223, 221)
}

.box {
  margin-left: 400px;
  width: 550px;
  padding: 40px;
  position: center;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #3baaf5
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3baaf5;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #3baaf5
}

.forgot {
  text-decoration: underline
}

p {
  color: white;
}

.container {
  margin: 0 auto;
}

a {
  color: rgb(233, 227, 227);
}

.box1 {
  background-color: #1565c0;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

h1 {
  font-size: 40px;
  color: white;
}
h2{
  color: white;
}